@media only screen and (max-device-width: 812px) {
    .button-try-now {
        width: 100%;
    }

    .new-design img {
        display: block;
        width: 100%;
        position: relative;
    }

    .element-on-the-left {
        margin: 30px 0 0px;
    }

    .element-on-the-left h2 {
        margin: 30px 0 0px;
    }

    .features {
        display: flex;
        flex-direction: column;
        padding: 30px 0;
    }

    .features h2 {
        font-size: 30px;
        line-height: 33px;
        margin-bottom: 30px;
    }

    .features h3 {
        font-size: 20px;
        padding: 10px 0 10px;
    }

    .features p {
        margin-bottom: 15px;
    }

    .description img {
        max-width: 100%;
        float: none;
        width: 100%;
    }

    .description h2 {
        font-size: 30px;
        line-height: 35px;
        margin-bottom: 15px;
    }


    .element-on-the-right {
        float: none;
        padding: 30px 15px;
        width: 100%;
    }

    .clients {
        padding: 30px 0 30px;
    }

    .clients p {
        padding: 15px 0 25px;
    }

    #client-images {
        display: block;
    }

    #client-images img {
        margin: 0 20px;
    }

    .browser span {
        padding-top: 30px;
    }

    .browser h2 {
        font-size: 30px;
        line-height: 34px;
        margin-bottom: 15px;
    }

    .browser p {
        padding: 0 15px 30px;
    }

    .browser img {
        width: 100%;
    }

    .try-now {
        padding: 30px 0;
    }

    .try-now h2 {
        font-size: 25px;
        line-height: 30px;
        margin-bottom: 15px;
    }

    .try-now input {
        margin: 30px auto 0;
    }

    span.try-button {
        background-position: 23% 15px;
        padding-top: 10px;
    }

    footer {
        padding: 30px 0;
        text-align: center;
    }

    img.footer-image {
        right: 5px;
        bottom: -5px;
        z-index: -1;
        transform: rotate(90deg);
        top: auto;
    }

    .row {
        flex-direction: column;
    }

    .item {
        width: 100%;
    }

}


@media only screen and  (max-width: 476px) {
    header {
        min-height: 400px;
    }

    header h2 {
        padding-top: 40px;
        font-size: 30px;
        line-height: 36px;
    }

    span.try-button {
        background-position: 5% 15px;
    }

    .element-on-the-left h2 {
        font-size: 19px;
        line-height: 5px;
    }

    .element-on-the-left p {
        padding-bottom: 15px;
    }

    .features h2 {
        font-size: 22px;
        line-height: 28px;
        margin-bottom: 25px;
    }

    .description h2 {
        font-size: 20px;
        line-height: 15px;
    }

    .browser h2 {
        font-size: 22px;
        line-height: 26px;
    }

    .try-now h2 {
        font-size: 18px;
        line-height: 16px;
        margin-bottom: 5px;
    }
}


