html, body, div, span, h1, h2, h3, h4, h5, h6, p, a, img, strong, i, ol, ul, li, label, legend, footer, header, section {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

ol, ul {
    list-style: none;
}

body {
    font-family: 'Exo', sans-serif;
    font-size: 16px;
    line-height: 26px;
    font-weight: 500;
    color: #282828;
    background: #fff;
    letter-spacing: 0.4px;
}

.fix-display:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

.fix-display {
    display: block;
}


header {
    background: url(../images/header-image.png) no-repeat center center;
    min-height: 813px;
    display: block;
    background-size: cover;
    text-align: center;
}

header h2 {
    padding-top: 210px;
    font-size: 60px;
    line-height: 75px;
    font-weight: 100;
}

header p {
    font-size: 14px;
    color: #767678;
    font-weight: 400;
}

header img {
    padding: 30px 0;
    cursor: pointer;
}


.new-design {
    position: relative;
}

.new-design img {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
}


.element-on-the-left {
    margin: 177px 0 134px;
    max-width: 590px;
}

.element-on-the-left h2 {
    margin-bottom: 40px;
    font-size: 40px;
    line-height: 50px;
}

.element-on-the-left span {
    color: #ff6d6d;
    line-height: 50px;
    letter-spacing: 3.2px;
}

.element-on-the-left h2 span {
    letter-spacing: 1.6px;
}

.element-on-the-left p {
    opacity: 0.66;
    letter-spacing: 0.64px;
    padding-bottom: 25px;
}


.features {
    padding: 130px 0 160px;
    background: url(../images/features-background.jpg) no-repeat center center;
    min-height: 675px;
    background-size: cover;
    text-align: center;
}

.features span {
    line-height: 50px;
    color: #ff6d6d;
    letter-spacing: 3px;
}

.features h2 {
    font-size: 40px;
    letter-spacing: 2px;
    line-height: 50px;
    margin-bottom: 70px;
}

.features div {
    letter-spacing: 1px;
}

.features h3 {
    font-size: 22px;
    line-height: 50px;
    padding: 25px 0 10px;
}

.features p {
    opacity: 0.66;
}


.description {
    letter-spacing: 1px;
}

.description span {
    letter-spacing: 3px;
    line-height: 50px;
    color: #ff6d6d;
}

.description h2 {
    font-size: 40px;
    letter-spacing: 2px;
    line-height: 50px;
}

.description p {
    opacity: 0.66;
}

.description img {
    max-width: 600px;
    float: left;
}


.element-on-the-right {
    float: left;
    padding: 99px 2px 0 129px;
    width: 50%;
}


.clients {
    background: url(../images/clients-background.jpg) no-repeat center center;
    min-height: 648px;
    display: block;
    background-size: cover;
    padding: 100px 0 70px;
    text-align: center;
}

.clients h2 {
    font-size: 22px;
    line-height: 40px;
    color: #fff;
}

.clients p {
    color: #fff;
    opacity: 0.66;
    padding: 25px 0 90px;
    font-weight: 400;
    font-style: italic;
}

.clients span {
    color: #ff6d6d;
}

#client-images img {
    margin: 0 50px;
}


.browser {
    text-align: center;
    background-color: #f6f5f3;
}

.browser span {
    line-height: 50px;
    color: #ff6d6d;
    letter-spacing: 2px;
    padding-top: 110px;
    display: block;
}

.browser h2 {
    font-size: 40px;
    letter-spacing: 2px;
    line-height: 50px;
    margin-bottom: 30px;
}

.browser p {
    letter-spacing: 1px;
    opacity: 0.66;
    padding: 0 200px 80px;
}

.browser img {
    margin: 0 auto;
}


.try-now {
    background-color: #323969;
    text-align: center;
    padding: 80px 0 70px;
}

.try-now span {
    letter-spacing: 2px;
    line-height: 40px;
    color: #ff6d6d;
}

.try-now h2 {
    font-size: 40px;
    letter-spacing: 2px;
    line-height: 50px;
    color: #fff;
    margin-bottom: 30px;
}

.try-now input {
    border-radius: 3px;
    background-color: rgba(255, 255, 255, 0.2);
    border: 1px solid #999cb4;
    color: #f6f5f3;
    font-weight: 400;
    max-width: 263px;
    width: 100%;
    height: 50px;
    padding-left: 25px;
    margin-top: 70px;
}

.try-now input[type="submit"] {
    font-size: 15px;
    letter-spacing: 1px;
    background-color: #ff6d6d;
    border: 1px solid #ff6d6d;
    filter: drop-shadow(0px 3px 1.5px rgba(14, 15, 15, 0.25));
    padding: 0;
    margin-top: 13px;
    cursor: pointer;
}

span.try-button {
    color: #fff;
    background: url(../images/arrow.png) no-repeat left 15px;
    min-height: 45px;
    display: block;
    padding: 0 0 15px 20px;
}

.try-now p {
    letter-spacing: 1px;
    line-height: 75px;
    color: #f6f5f3;
    font-weight: 400;
    opacity: 0.6;
}

a.underline:hover {
    text-decoration: underline;
    cursor: default;
}

footer {
    display: block;
    position: relative;
    padding: 80px 0 60px;
}

footer p {
    font-size: 14px;
    letter-spacing: 1px;
}

footer h2 {
    font-size: 22px;
    letter-spacing: 1px;
    line-height: 50px;
}

footer ul li {
    font-size: 14px;
    letter-spacing: 1px;
    line-height: 30px;
    font-weight: 400;
}

footer input {
    max-width: 203px;
    height: 49px;
    width: 100%;
    padding: 13px 0 8px 15px;
    border-radius: 3px;
    background-color: rgba(141, 141, 141, 0.2);
    border: 1px solid #b8b8bf;
    border-right: 0;
    letter-spacing: 1px;
    color: #000;
    font-weight: 400;
    outline: 0;
}

footer a {
    display: inline-block;
}

footer a.send-icon {
    max-width: 49px;
    border-radius: 3px;
    filter: drop-shadow(0px 3px 1.5px rgba(14, 15, 15, 0.25));
    background-color: #ff6d6d;
    border: 1px solid #ff6d6d;
    padding: 11px 0;
    width: 100%;
    text-align: center;
    color: #fff;
    font-size: 24px;
    display: inline-block;
}


.social-icons {
    text-align: center;
    margin-top: 15px;
}

.social-icons i {
    font-size: 20px;
    color: #cbcbcb;
    margin: 0 10px;
}

img.footer-image {
    float: right;
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
}

.button-try-now {
    max-width: 190px;
    background: #ff6d6d;
    border-radius: 3px;
    display: block;
    line-height: 51px;
    letter-spacing: 2px;
    color: #fff;
    margin: 0 auto 15px;
    font-weight: 400;
    cursor: pointer;
}

#column {
    flex-direction: column;
}

.button-try-now:active,
.try-now input[type="submit"]:active,
footer a.send-icon:active {
    filter: drop-shadow(3px 3px 2px rgba(14, 15, 15, 0.35));
    background: #ff4d4f;
    font-weight: 500;
}

header img:active {
    opacity: 0.85;
}

i.fa-dribbble:hover {
    color: #ea4c89;
}

i.fa-facebook:hover {
    color: #29487D;
}

i.fa-google-plus:hover {
    color: #dd4b39;
}

i.fa-twitter:hover {
    color: #00aced;
}

footer ul li:hover {
    color: #ff6d6d;
}